.pagina-sobre{

    background-color: #f5f6fa;
    min-height: 100vh;

    main{

        padding-top: 80px;
        padding-left: 70px;
        

        h2{

            margin-left: 27px;
            font-size: 32px;
        }

        p{

            margin-top: 60px;
            margin-left: 70px;
            text-align: center;
            font-size: 16px;
            line-height: 37px;
            font-size: 22px;
            width: 1000px;
            
        }

        .fotinha{

            width: 120px;
            height: 139px;
            margin-top: 100px;

        }

    }

    .esp{

        color: #f5f6fa;
    }
    
}
